<div class="post clearfix">
  <h3><a href="/posts/<%=@post.id%>"><%= @post.title %></a></h3>
  <div class="date"><%= @post.short_date %></div>
  <div class="post_link"><a href="/posts/<%=@post.id%>">See more...</a></div>
  <% if @post.tags.any? %>
    <ul>
      <% @post.tags.each do |tag| %>
        <li><a href="/tags/<%=tag.id%>">#<%= tag.name %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>