<div class="post">
  <h3><a href="/posts/<%=@post.id%>"><%= @post.title %></a></h3>
  <div class="date"><%= @post.short_date %></div>
  <content>
    <p><%= @post.content %></p>
  </content>
  <a href="/posts/<%= @post.id %>/update">Update Post</a>
  <a href="/posts/<%= @post.id %>/delete">Delete Post</a>
  <% if @post.tags.any? %>
    <ul>
      <% @post.tags.each do |tag| %>
        <li><a href="/tags/<%=tag.id%>">#<%= tag.name %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>